body{
  color: #82a5ca;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  text-align: center;
}

#hero{
  background-image: url("images/galaxy.gif");
  background-size: cover;
  padding: 50 0 100 0;
  text-shadow: 0 0 4px black;
}

#main-logo{
  width: 200px;
}

.apply-btn{
  color: #82a5ca;
  background: white;
  border: none;
  border-radius: 0px;
  padding: 5px 10px;
  font-family: inherit;

}

.underline{
  border-bottom: 4px solid white;
}
